**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.vs/
.vscode/
*.swp
*.[Cc]ache
!*.[Cc]ache/

.idea/
*.sln.iml

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

**/packages/*
!**/packages/build/
.nuget/
*.nupkg
NuGet.exe
NuGet.Config

node_modules/
npm-debug.log
yarn-error.log

appsettings.Development.json

*.log
*.logs

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.local

*.tmp
*.temp